body{
    font-family: sans-serif;
    color: rgb(4, 75, 1);
    background-image: url('./420005838-vegetais.jpg');
    background-size: cover;
    font-size: 18px;
}
label{
    font-size: 25px;
    text-shadow: 2px 2px 3px rgb(96, 143, 65);
}
#titulo1{
    font-size: 50px;
    color: white;
    text-shadow: 2px 3px 3px rgb(102, 255, 0);
    margin-left: 50px;
}
#paragrafo{
    color: white;
    margin: 10px 0 5px 40px;
    padding-left: 15px;
    width: 500px;
    border-bottom: 2px solid white;
}
#inputsArea{
    background: rgb(157, 233, 106);
    width: 400px;
    padding-top: 30px;
    margin-top: 20px;
    border: 1px solid rgb(4, 94, 1);
    border-radius: 5px;
    text-align: center;
}
#resultadoCor{
    margin: auto;
    padding: 40px;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(96, 143, 65);
    font-size: 35px;
}
#peso, #altura{
    height: 25px;
    width: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid rgb(4, 94, 1);
    border-radius: 5px;
}
.botao{
    border: 2px solid rgb(5, 116, 1);
    border-radius: 5px;
    padding: 5px 15px;
    background: rgb(4, 94, 1);
    color: white;
}
.botao:hover{
    background: rgba(4, 94, 1, 0.87);
}
#tabela{
    margin-right: auto;
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    background: rgb(157, 233, 106);
    height: 220px;
    border-radius: 5px;
    border: 1px solid rgb(4, 94, 1);
}
#tituloTabela{
    background: rgb(157, 233, 106);
    text-shadow: 2px 2px 3px rgb(96, 143, 65);
    font-size: 35px;
    padding: 5px 10px 10px;
    width: 400px;
}
tr:nth-child(odd){
    background: rgb(129, 214, 72);
}
#geral{
    display: flex;
}

